@model FooterVM

<div class="row">
    <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
        <div class="single-footer-widget footer_1">
            <h4>Haqqımızda</h4>
            <p>
                Heaven fruitful doesn't over for these theheaven fruitful doe over days
                appear creeping seasons sad behold beari ath of it fly signs bearing
                be one blessed after.
            </p>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-md-2 col-lg-3">
        <div class="single-footer-widget footer_2">
            <h4>Vacib Linklər</h4>
            <div class="contact_info">
                <ul>
                    <li><a asp-controller="Menu" asp-action="Index">Menu</a></li>
                    <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Account" asp-action="Logout">Çıxış et</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Login">Daxil ol</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
        <div class="single-footer-widget footer_2">
            <h4>Əlaqə</h4>
            <div class="contact_info">
                <p><span> Adres :</span>@Model.Info.Address</p>
                <p><span> Telefon :</span>@Model.Info.PhoneNumber</p>
                <p><span> Email : </span>@Model.Info.EmailAddress</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-md-4 col-lg-3">
        <div class="single-footer-widget footer_3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12147.071182765434!2d49.846794949999996!3d40.43614035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40308864278b3875%3A0xadae5388d0977826!2sBak%C4%B1%20Tekstil%20Fabriki%20MMC!5e0!3m2!1str!2saz!4v1718797611858!5m2!1str!2saz" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>
<div class="copyright_part_text">
    <div class="row">
        <div class="col-lg-8">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Bütün hüquqlar qorunur
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
        <div class="col-lg-4">
            <div class="copyright_social_icon text-right">
                @foreach(SocialMedia socialMedia in Model.SocialMedias)
                {
                    <a target="blank" href="@socialMedia.Link">@Html.Raw(socialMedia.Icon)</a>
                }
            </div>
        </div>
    </div>
</div>